/* styles.css */
@media (min-width: 768px) {
  .md\:text-4xl {
    font-size: 2.25rem; /* 36px */
    line-height: 5.5rem; /* 88px */
  }
}
 #home {
  background-image: url('/src/components/3757c30a762387b\ \(2\).jpg'); /* Adjust path as needed */
  background-size: cover;
  background-position: center;
} 
